google
numpy
mediapy
tqdm
dataclasses
waymax
typing
jax
gym
functools
chex
math
abc
stable_baselines3
git+https://github.com/waymo-research/waymax.git@main#egg=waymo-waymax
stable-baselines3[extra]
mediapy
